.listCart {
  margin-top: 40px;
}

.marginR {
  margin-right: 50px;
}

.prdName {
  font-size: 20px;
}

.prdPrice {
  font-size: 14px;
  margin-top: -10px;
  font-weight: bold;
}

.bottomCart span {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 16px;
}

.rmv p {
  margin-top: -4px;
}

.bottomCart button {
  height: 25px;
  font-size: 12px;
  margin-left: 20px;
}

.chartLand {
  margin-top: 120px;
  margin-left: 100px;
}

.paymentBox {
  position: fixed;
  right: 0px;
  margin-top: 80px;
  margin-right: 100px;
}

.paymnt {
  margin-top: 120px;
}

.prc {
  text-align: right;
}

.e {
  margin-bottom: 15px;
}

.e button {
  margin-right: 10px;
}

.btm {
  margin-top: 240px;
}

.btm button {
  margin-top: 30px;
  width: 80px;
}

.tmrgin {
  margin-top: 120px;
}

.minmrgn {
  margin-bottom: -50px;
}

.green {
  color: green;
  font-size: 20px;
}

.red {
  color: red;
  font-size: 19px;
}

.cartImage {
  object-fit: contain;
}

.paymentBox p {
  font-weight: 500;
  font-size: 16px;
}

.text {
  text-align: right;
}

.paymentBox button {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(231, 240, 242, 1);
  border: none;
  box-shadow: black;
}

.btnHistory {
  margin-top: 35px;
  font-weight: 500;
}

.TID {
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.ID {
  font-size: 15px;
  font-weight: 600;
  margin-top: -10px;
}

.kanan {
  text-align: right;
}

.kanan button {
  margin-top: 25px;
  font-size: 14px;
  margin-right: 20px;
  height: 40px;
  width: 100px;
}

.topBdr {
  border-right: none;
  padding-top: 10px;
}

.bdrHgt {
  margin-top: 10px;
  padding-top: 10px;
}

.stts {
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

.fixText {
  text-align: center;
}
