.blackScreen {
  width: 100%;
  background-color: aquamarine;
  width: 100vh;
}

.full {
  background-color: blue;
}

.inptChat {
  margin-left: 40px;
  margin-right: 10px;
}

.wht {
  background-color: turquoise;
  margin-top: -10px;
  margin-left: 2px;
}

.chatLand {
  background-color: white;
  margin-left: 20px;
  padding-left: 20px;
  height: 400px;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 10px;
}

.chatResult {
  background-color: white;
  height: 550px;
}

.chatLand p {
  font-size: 15px;
}
.chatLand span {
  font-size: 10px;
}

.textKanan {
  text-align: right;
}

.hgtP {
  margin-bottom: 10px;
}

.listChat {
  margin-top: 110px;
  margin-right: 10px;
}

.contact {
  margin-top: 70px;
}

.cntcName {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -2px;
}

.newChat {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  margin-bottom: -2px;
}

.lst {
  margin-left: 16px;
}

.searchContact {
  position: sticky;
  top: 83px;
  background-color: white;
  z-index: 89;
  margin-bottom: 15px;
}

.Chatss {
  margin-top: 90px;
}

.listchat {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.send1 {
  position: fixed;
  width: 900px;
  bottom: 20px;
}

.timeChat {
  font-size: 10px;
}
