.btnEdit {
  background-color: black;
  width: 80px;
}

.div2 {
  background-color: white;
  height: 100%;
}

.left {
  padding-bottom: 40px;
}

.left button {
  margin-top: -50px;
}

.chekout {
  text-align: right;
}

.bdg {
  color: white;
  margin-right: 80px;
  height: 21px;
  width: 25px;
  font-size: 11px;
  padding-top: 4px;
}

.back {
  margin-right: 80px;
  margin-top: 20px;
  color: black;
}

.main p {
  display: block;
}

.rightDetail {
  margin-left: 20px;
}

.name-size {
  font-size: 25px;
  margin-bottom: 3px;
  font-weight: 500;
  display: block;
  margin-right: 20px;
}

.diskon {
  font-size: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.normal {
  margin-top: -10px;
  font-size: 12px;
}

.lorem1 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 17px;
  margin-right: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.size {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  margin-bottom: 15px;
}

.size select {
  border: none;
  color: black;
  font-family: "arial";
  font-size: 24px;
  font-weight: bolder;
}

.editimg {
  max-width: 300px;
  border-radius: 15px;
}

.navProduct {
  background-color: rgba(231, 240, 242, 1);
}

.deskripsi {
}

.buyOption {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(231, 240, 242, 1);
  padding: 10px;
}

.storeName {
  border-top: 2px solid rgba(231, 240, 242, 1);
  border-bottom: 2px solid rgba(231, 240, 242, 1);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.buyOption .title {
  font-size: 20px;
  font-weight: bold;
}

.logoutbtn2 {
  font-size: 14px;
  margin-right: 10px;
}

.chekout {
  margin-right: 40px;
}

.detailImg .img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.view {
  padding: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: solid 2px dimgrey;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.sp {
  color: white;
  padding: 5px 10px;
  font-weight: normal;
  border-radius: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.ttl {
  font-size: 23px;
  font-weight: 500;
  margin-top: 10px;
}

.dtl {
  height: 100%;
}

.dis {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: -5px;
}

.dis2 {
  font-size: 14px;
  font-weight: normal;
}

.prc {
  font-size: 18px;
}

.ctr {
  font-size: 13px;
  font-weight: 400;
}
.siezes {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.siezes button {
  font-size: 13px;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  margin-right: 8px;
  padding: 5px 7px;
  margin-bottom: 7px;
}

.addcart {
  z-index: 1;
  background-color: white;
  font-weight: 500;
  height: 50px;
  margin-top: 10px;
}

.btmBtn {
  /* position: fixed;
  bottom: 20px; */
  margin-right: 40px;
  border-radius: 15px;
  padding: 10px;
  margin-top: -50px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(231, 240, 242, 1);
  border: solid 1px black;
}
